div#index-banner.section.no-pad-bot{
    background-color: #3f51b5  !important;
}
 .Site {
     display: flex !important;
     min-height: 100vh !important;
     flex-direction: column !important;
 }
 .Site-content {
     flex: 1 0 auto !important;
 }
i.medium.material-icons {
    padding: 6px !important;
    border-radius: 50% !important;
    color: #dddddd !important;
    border: 4px solid #dddddd !important;
    margin-right: 16px !important;
    font-size: 24px !important;
}
[class^="material-"], [class*="material-icons"] {
    speak: none;
    display: inline-block;
    font-family: "Material-Design-Icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
i {
    line-height: inherit !important;
}
*, *:before, *:after {
    box-sizing: inherit;
}

span {
    position: relative !important;
    display: inline-block !important;
    padding-right: 1em !important;
    background: #fff !important;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.section-title {
    position: relative !important;
    margin-bottom: 1em !important;
    font-size: 22px !important;
    font-weight: 400 !important;
    text-align: left !important;
}
h2 {
    font-size: 3.56rem !important;
    line-height: 110% !important;
    margin: 1.78rem 0 1.424rem 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
}
h5.section-title:before {
    content: "" !important;
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
    width: 100% !important;
    border-bottom: 5px solid #dddddd !important;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    color:#004d40 !important;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 601px){
.row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
    }
}
.http-card{
    min-height: 160px;
}
.card-panel{
    
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}
.fa-html5:before {
    content: "\f099";
}
*, *:before, *:after {
    box-sizing: inherit;
}
i.html5 {
    display: block;
    margin-top: -36px;
    margin-bottom: 12px;
    font-size: 40px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.text-grey.darken-4{
    text-align: center !important;
}
.featured-media .card .card-title {
    font-size: 24px !important;
    line-height: 24px !important;
}
.card .card-title {
    font-weight: 300;
}
.card {
    text-align: center;
    min-height: 230px;
}
a.card-memo{
    color: white !important;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid white !important;
    padding: 20px;
}
div {
    display: block;
}
.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.card i.large.material-icons {
    display: block;
    font-size: 58px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
@media only screen and (min-width: 601px){
.row .col.m3 {
    width: 25%;
    margin-left: 0;
    }
}
.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 80px !important;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
nav .nav-wrapper {
    position: relative !important;
    height: 100%;
}
header nav {
    box-shadow: none;
    margin-top: 15px;
    width: 100%;
}
nav.red {
    color: #fff !important;
    background-color: #3f51b5  !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
a:active, a:hover {
    outline: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.side-nav {
    position: fixed;
    width: 240px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: left;
}
header nav ul li a {
    color: #fff;
    letter-spacing: -1px;
    text-decoration: none;
    font-weight: 400;
    font-size: 5em;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #3f51b5  !important;
    will-change: left, right;
}
.tabs .tab a {
    color: white !important;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs .tab a, .tabs .tab a {
    background-color: #3f51b5  !important;
    color: white !important;
}
img.responsive-img, video.responsive-video {
    max-width: 100% !important;
    height: auto;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
i.medium.material-icons {
    padding: 6px !important;
    border-radius: 50% !important;
    color: #dddddd !important;
    border: 4px solid #dddddd !important;
    margin-right: 16px !important;
    font-size: 24px !important;
}
.row{
    margin-bottom: 15px !important;
}
.section{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
@media (min-width :768px){
.initial-icon{
    margin-top: 150px !important;
    }
}
.initial-icon{
    border: 3px solid white !important;
    transform: rotate(45deg) !important;
    height: 100px !important;
    width: 100px !important;
    margin: 95px auto;
}
.initials{
    transform: rotate(-45deg) !important;
    font-size: 45px !important;
    font-family: 'Roboto';
    margin-top: 16px !important;
    font-weight: 400 !important;
    color: white !important;
    text-align: center !important;
}
p{
    display:block !important;
    -webkit-margin-before: 1em !important;
    -webkit-margin-after: 1em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}
h1.header.center.white-text{
    margin-top: -45px !important;
    margin-bottom: 40px !important;
    padding-bottom: 45px !important;
    }
#sendMessage{
    background-color: #5c6bc0 !important;
}
#sendResume{
    background:#5c6bc0 !important;
}