div#index-banner.section.no-pad-bot{
    background-color: #ee6e73 !important;
}

nav.light-blue.lighten-1{
    background-color: #ee6e73 !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: white !important;
}